#navItemsList > ul {
  display: flex;
  flex-wrap: wrap;
}

#navItemsList > ul > li {
  list-style-type: none;
  padding: 10px;
}

#navItemsList > ul > li > a {
  text-decoration: none;
}

#shoes {
  display: flex;
  flex-wrap: wrap;
}

#shoes > div {
  border: 1px solid grey;
  margin: 10px;
  border-radius: 10px;
}
.divImg {
  border-radius: 10px;
  transition: transform 2s;
  overflow: hidden;
}

.quantity {
  width: 50px;
}

.image {
  padding: 10px;
  width: 250px;
  height: 250px;
}

.image:hover {
  transform: scale(1.1);
}

.divInfo {
  padding: 10px;
}

h1 {
  text-align: center;
}
